@use "sass:math"; //Sass에 내장된 math 라이브러리를 가져오는 것
@use "./variables" as vars;

// font
@mixin font-pre($name, $weight) {
  $file: map.get(vars.$pretendard-map, $weight);

  @if $file == null {
    @error '지원하지 않는 font-weight: #{$weight}';
  }

  @font-face {
    font-family: $name;
    src: url('../../fonts/#{$file}.otf') format('opentype');
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}




// 말줄임
@mixin ellipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if $line ==1 {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

// media quary
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: vars.$bp-mobile) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: vars.$bp-tablet) {
      @content;
    }
  }
}

// layout
@mixin f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin fi-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@mixin f-align($align, $gap: null) {
  display: flex;
  align-items: $align;
  @if $gap {
    gap: $gap;
  }
}
@mixin flex($display, $aline: null, $justify: null, $gap: null) {
  display: $display;

  @if $aline != null {
    align-items: $aline;
  }
  @if $justify != null {
    justify-content: $justify;
  }
  @if $gap != null {
    gap: $gap;
  }
}

// attribute
@mixin height($height, $max-height, $min-height){
  height: $height;
  max-height: $max-height;
  min-height: $min-height;
}
@mixin width($width, $max-width, $min-width){
  width: $width;
  max-width: $max-width;
  min-width: $min-width;
}