// color
$color-primary-0: #41c7f4 ;
$color-primary-10: #0071bc ;

$color-secondary-0: #52c3f1;
$color-secondary-10: #009edb;       
$color-secondary-20: #0068b7;
$color-secondary-30: #0b386a;
$color-secondary-40: #8B6F4E;
$color-secondary-50: #8A8D8F;

$color-txt-main: #333;
$color-txt-sub: #555;

$color-scale-0: #fff;
$color-scale-10: #F7F8F9;
$color-scale-20: #F4F5F7;
$color-scale-30: #ECEFF2;
$color-scale-40: #DFE3E6;
$color-scale-50: #D2D6D4;
$color-scale-60: #B4B8BD;
$color-scale-70: #8C9094;
$color-scale-80: #606366;
$color-scale-100: #000;

$color-border-10:#f2f2f2;


// font
$font-pretendard: 'Pretendard', -apple-system, sans-serif;
$font-noto: 'Noto Sans KR', sans-serif;
// font_기본 폰트 설정
$font-primary: $font-pretendard;

// spacing
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;

// z-index
$z-menu: -1;
$z-base: 1;
$z-header: 100;
$z-dropdown: 200;
$z-sticky: 300;
$z-overlay: 900;
$z-modal: 1000;
$z-toast: 1100;
$z-tooltip: 1200;

// breakpoint
$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-desktop: 1400px;

// border
$border-header: #eaeaea;
$border-radius: 4px;
$border-background: rgba(22, 22, 22, 0.7);

// btn
$btn-bg: #404358;

// bg
$bg-gradient-deg: 149deg;
$bg-gradient-start: #192247;
$bg-gradient-end: 96.86%;
$bg-toggel: #80808066;

// hover
$hover-btn-slide: rgba(255, 255, 255, 0.2);
$hover-bg-btn: rgb(193, 17, 25);
$hover-bg-toggle: rgb(65, 65, 65);
$hover-scale: 1.05;

