@use "@scss/abstract" as *;

* {
  -webkit-tap-highlight-color: transparent;
}
#app {
  @include font-style();
  color: $color-txt-main;
  // 폰트 렌더링 최적화 옵션 (선택사항)
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  color: $color-txt-main;
  background-color: $color-scale-0;
  -webkit-text-size-adjust: 100%;
}
button,
input,
textarea,
select {
  font-family: inherit;
}
