@use "@scss/abstract" as ab;
@use './fonts';

* {
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: ab.$color-text;
  background-color: ab.$color-bg;
  -webkit-text-size-adjust: 100%;
}
button,
input,
textarea,
select {
  font-family: inherit;
}
