@use "@scss/abstract" as ab;

$font-path: "@/assets/fonts/";
@mixin register-font($name, $file-name, $weight){

    @font-face {
        font-family: "#{$name}";
        src: url("#{$font-path}/#{$file-name}.woff2") format("woff2"),
             url("#{$font-path}/#{$file-name}.woff") format("woff2");
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }

}
// ❗@font-face 폰트 등록 후  @include 해줘야 써내 쓴다는 개념
// ❗Pretendard weight별 등록(파일명과 매칭)
@include register-font('Pretendard', 'Pretendard-Regular', 400);
@include register-font('Pretendard', 'Pretendard-Medium', 500);
@include register-font('Pretendard', 'Pretendard-Bold', 700);