// text
.txt-center {
  text-align: center !important;
}
.txt-right {
  text-align: right !important;
}
.fw-bold {
  font-weight: 700 !important;
}
// spacing
.mt-10 {
  margin-top: 10px !important;
}
// display/flex
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.flex {
  display: flex !important;
}
.f-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
// visibility/접근성
.is-hidden {
  display: none !important;
}
.is-invisible {
  visibility: hidden !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); // 옛날 브라우저 대응
  clip-path: inset(50%); // 최신 브라우저 대응
  border: 0;
  white-space: nowrap; 
}
// 디버깅
.debug * {
  outline: 1px solid rgba(255, 0, 0, 0.2);
}
