.chk {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  input {
    position: absolute;
    opacity: 0;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    border: 1px solid #000;
  }

  input:checked + &__icon {
    background: #000;
  }

  input:focus-visible + &__icon {
    outline: 2px solid blue;
  }
}
