@use "@scss/abstract" as ab;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: ab.$color-txt-main;
  box-sizing: border-box;

  // @media (min-width: 768px) {
  //   padding: 0 32px;
  // }

  // @media (min-width: 375px) {
  //   padding: 0 20px;
  // }
}
