@use "@scss/abstract/" as ab;

.header {
    position: relative;
    @include ab.flex(flex, center, center);
    width: 100%;
    height: 105px;
    @media (max-width: 1200px){height: 65px}
    font-size: 18px;
    border-top: 7px solid ab.$color-secondary-30;
    // border-bottom: 1px solid ab.$border-header; -> scrollì‹œ
    background: ab.$color-scale-0;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .1);

    .header-cont{
        @include ab.flex(flex, center, space-between);
        @include ab.width(100%, 1200px);
        height: 100%;
    }

    .logo{
        @include ab.clamp-size('width', 170px, 243px);
    }

    nav{
        height: 100%;

        > ul{
        @include ab.flex(flex);
        height: 100%;
        .logo-dshop{
            img{
            width: 110px;
            }
        }
        > li{
            padding: 0 36px;
            a{
            @include ab.flex(flex, center, center);
            width: 100%;
            height: 100%;
                &:not(.sub-menu a){
                border-bottom: 2px solid transparent;
                &:hover{
                border-bottom: 2px solid ab.$color-secondary-30;
                }
                }
            }

                //   sub-menu
                .sub-menu{
                    display: none;
                }
            }  

            &:hover::before{
                content: "";
                position: absolute;
                top: 99px;
                left: 50%;
                transform: translateX(-50%);
                width: 100vw;
                height: 300px;
                background: #aaa;
                z-index: -1;

                .sub-menu{
                    display: block;
                }
            }
        }
    }
}
