@use "@scss/abstract" as ab;
.sub-banner{
    width: 100%;
    @include ab.height(100%, 400px, 250px);
    height: 100%;
    max-height: 400px;
    min-height: 250px;
    &__img{
        @include ab.ratio-box(16/9);
        img{
            @include ab.fluid-img;
        }
    }
}