@use "@scss/abstract" as ab;

.notice-table {
    .list-count{
        @include 
    }

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }
  
    th,
    td {
      vertical-align: middle;
    }
  
    th {
      padding: ab.$table-thead-padding;
      font-size: ab.$table-font-th;
      font-weight: 600;
    }
  
    td {
      height: ab.$table-list-height;
      padding: ab.$table-list-padding;
      @include ab.clamp-size(font-size, ab.$table-font-td-mo, ab.$table-font-td);
      border-bottom: 1px solid ab.$table-list-bottomBorder;
  
      &.num {
        text-align: center;
      }
    }
  
    thead {
      height: ab.$table-thead-height;
      border-top: 1px solid ab.$table-thead-topBorder;
      border-bottom: 1px solid ab.$table-thead-bottomBorder;
    }
  
    td.title {
      .notice-title {
        @include ab.flex(flex, null, center, null, 8px);
  
        &__text {
          @include ab.flex(flex, null, center);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
  
        &__badge {
          @include ab.flex(flex, null, center, center);
          @include ab.clamp-size(width, 32px, 28px);
          padding: 4px 6px;
          font-size: 10px;
          color: ab.$color-scale-0;
          border-radius: 999px;
          background: ab.$color-badge-point;
        }
  
        &__icon {
          width: ab.$icon-size-base;
        }
      }
  
      .notice-num {
        display: none; // 기본은 숨김 (PC)
        [class^="notice-num"] {
          font-size: 12px;
          color: ab.$color-txt-sub;
        }
        &__date::after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 10px;
          margin: 0 20px;
          background: ab.$color-scale-90;
        }
        .label {
          display: inline-block;
          margin-right: 4px;
        }
      }
    }
  
    .empty {
      td {
        font-size: ab.$table-font-empty;
        color: ab.$table-color-empty;
        text-align: center;
      }
    }
  
    @media (max-width: ab.$bp-tablet) {
      td {
        height: ab.$table-list-height-mo;
      }
    }
  
    @media (max-width: 500px) {
      thead {
        display: none;
      }
  
      td.title {
        .notice-num {
          display: block; // 제목 아래 “등록일/조회수” 노출
        }
      }
  
      td.num {
        display: none; // PC용 날짜/조회수 컬럼 숨김
      }
    }
  }