@use "@scss/abstract/" as ab;

.tab-page{
    padding: 0 20px;
    .tab-page-inner{
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
    }

    @media(max-width: ab.$bp-mobile) {
        .tab-page-inner{
            padding: 50px 0;
        }
    }
}