@use "@scss/abstract/" as ab;

// content biz
.content.biz{
    .biz-content{
        @include ab.clamp-size('padding-block', ab.$sub-biz-img-padding-y-mo, ab.$sub-biz-img-padding-y);
        @include ab.clamp-size('padding-inline', ab.$sub-biz-img-padding-x-mo, ab.$sub-biz-img-padding-x);
        background: ab.$sub-biz-img-bg;


        &--img{
            display: grid;
            grid-template: repeat(1, auto) / repeat(5, 1fr);
            .img-item{
                position: relative;
                @include ab.flex(flex, column, center, flex-start, 20px);
                flex: 1 1 calc(100% / 5);
                &:not(:last-child){
                    &::after{
                        content:'';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 40%;
                        background: #eee;
                    }
                }
                &--img{@include ab.clamp-size('width', 60px, 100px);
                }
                &--title{
                    font-size: 16px;
                     font-weight: 600;
                     text-align: center;
                     line-height: 1.5;
                }
            }
        }

        @media (max-width: 960px) {
            .biz-content--img{
                grid-template: repeat(5, 100px) / repeat(1, auto);
                .img-item{
                    flex-direction: row;
                    &::after{
                        width: 100%;
                        height: 1px;
                        top: auto;
                        bottom: 0;
                    }
                    &--title{text-align: start;}
                }
            }
        }
    }
}
