@use "@scss/abstract/" as ab;

.tab-page{
    padding: 76px 20px;
    .tab-page-inner{
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
    }

    @media(max-width: ab.$bp-mobile) {
       padding: 50px 20px;
    }
}