@use "@scss/abstract/" as ab;

.tab-page{
    padding: 100px 20px;
    .tab-page-inner{
        @include ab.flex(flex, column, null, null, 80px);
        max-width: 1200px;
        margin: 0 auto;
        .content{
            .sub-title:has(+ div){@include ab.clamp-size('margin-bottom', 40px, 50px);}
        }
    }

    @media(max-width: ab.$bp-mobile) {
       padding: 50px 20px;
    }
    @media(max-width: ab.$bp-tablet) {
        .tab-page-inner{gap: 100px;}
    }
} 